.Rproj.user
packrat/lib*/
.DS_Store
.Rhistory

# qPCR worksheets
data/raw/qpcr/*/worksheets/
data/raw/qpcr/noro*/NoroStandardDilns.xlsx

figures/*
data/processed/*

# Don't ignore:
data/processed/.gitignore
